

.text-center{
    text-align: center;
}

.heading-small{
    font-size: 1.25rem;
}
.heading-medium{
    font-size: 1.5rem;
}
.heading-big{
    font-size: 1.75rem;
}

/*  Colors:   */
.for-white{
    background: papayawhip;
}

.for-blue{
    background: #4DABF7;
}

.for-grey{
    background: #495057;
}
.color-inherit{
    color:#495057;
}
.forhead{
    max-width: 1500px;
    margin:0 auto;
}
/* Container */

